/* Josh Comeau's reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* reduced motion */

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  }
  

/* variables for colours and fonts */


:root {
    --clr-pink-300: hsl(322, 100%, 66%);
    --clr-pale-cyan-100: hsl(193, 100%, 96%);
    --clr-dark-cyan-900: hsl(192, 100%, 9%);
    --clr-greyish-blue-400: hsl(208, 11%, 55%);
    --ff-body: "Open Sans", sans-serif;
    --fs-body: 1.125rem;
    --fw-body: 400;
    --ff-heading: "Poppins", sans-serif;
    --fw-heading: 600;

}

/* typography */

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
}



h1, h2, h3 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
}

h1 {
  margin-bottom: min(3em, 40px);
  font-size: min(2em, 48px);
}

h2 {
  margin-bottom: 1rem;
  font-size: min(1.2em, 40px);
}

img {
  flex: 1;
}

/* basic styling */

main {
  position: relative;
  z-index: 10;
}

.side-padding {
  padding-left: clamp(10px, 3rem, 5vw);
  padding-right: clamp(10px, 3rem, 5vw);
}

.side-margin {
  margin-inline: clamp(10px, 3rem, 5vw);
}

button {
  border: 0px;
  border-radius: 50px;
  font-weight: var(--fw-heading);
  letter-spacing: 0.02em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  flex-shrink: 1;


}

h1, h2, h3, p {
  text-align: center;
}



.primary-button {
  background-color: var(--clr-pink-300);
  padding: 1em 4em;
  color: var(--clr-pale-cyan-100);
  font-size: 0.8em;
}

.secondary-button {
  background-color: white;
  padding: 0.5em 2em;
  font-size: 0.6em;
  
}

.fa-brands {
  font-size: 1.5em;
}

/* header */



header {
  background-image: url(./images/bg-hero-mobile.svg);
  background-color: var(--clr-pale-cyan-100);
  text-align: center;
  padding-bottom: 3em;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 5em;
  
}

.header-logo {
  width: 33%;
}



.header-text > p {
  padding: 0 min(3em, 40px);
}

.header-button {
  margin-top: 3em;
  margin-bottom: 3em;;
}

/* section */

section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 15px;
  margin-bottom: 2em;
  padding: 3em min(3em, 40px);
  background-color: white;
  text-align: center;
}

section:first-of-type {
  margin-top: 5em;
}

.section-image {
  padding: 0 0 2em 0;
}

/* cta */

.cta {
  position: relative;
  top: min(7rem, 200px);

}

/* footer */

footer {
  background-color: var(--clr-dark-cyan-900);
  z-index: -2;
  padding-top: min(10rem, 300px);
}

.footer-logo {
  max-width: 50vw;
}

/*stole this one from stackoverflow / codepen: https://codepen.io/sosuke/pen/Pjoqqp */

.white-filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(1429%) hue-rotate(295deg) brightness(118%) contrast(100%);
}

footer p, li, i {
  color: white;
}

/* attribution in footer */

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: var(--clr-greyish-blue-400)
}